<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--set title-->
    <title>Story of TI</title>
    <!--load scripts-->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/dota.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--load css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dota.css">
  </head>
  <body ng-app="myApp">
    <!--grid container-->
    <div class="container-fluid">
      <div class="row">
        <a ng-click="previousTI()" class="col-xs-1 btn btn-default tibutton tibutton-p"></a>
        <div id="plot_container" class="col-xs-8">
          <scatter-plot></scatter-plot>
        </div>
        <a ng-click="nextTI()" class="col-xs-1 btn btn-default tibutton tibutton-n"></a>
        <!--infomation panel-->
        <div id="info" class="col-xs-2">
          <img></img>
          <h3 id="hero_text"></h3>
          <h4 id="win_text"></h4>
          <h4 id="pick_text"></h4>
          <h4 id="ban_text"></h4>
        </div>
      </div>
    </div>
    <!--three buttons around x label-->
    <a id="next-item" ng-click="nextItem()" class="btn btn-default"><span aria-hidden="true">»</span></a>
    <a id="previous-item" ng-click="previousItem()" class="btn btn-default"><span aria-hidden="true">«</span></a>
    <div id="dropup1" class="dropup">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 6px;">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      </ul>
    </div>
  </body>
</html>
